:root {
  --blue: #6884DE;
  --darkblue: #4d66b8;
  --grey: #a0a0a0;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f7fc;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

.app {
  position: relative;
  width: 100%;
  max-width: 600px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.result-page {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  color: black;
}

.form-wrapper {
  width: 100%;
  max-width: 600px;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  border: 1px solid #eaeaea;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative; /* Make sure the form is above the overlay */
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

div > div {
  text-align: center;
  font-size: 18px;
}

/* Form styling */
input,
textarea,
select {
  width: 100%;
  padding: 12px;
  border-radius: 5px;
  border: 1px solid #ddd;
  font-size: 16px;
  margin-top: 5px;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
  border-color: #4CAF50;
}

input[type="file"] {
  padding: 10px 0;
  background: #f7f7f7;
}

textarea {
  resize: vertical;
  min-height: 100px;
}

/* Buttons Styling */
.start-button {
  padding: 15px 30px;
  font-size: 18px;
  background-color: var(--blue);
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.start-button:hover {
  background-color: var(--darkblue);
}

button {
  padding: 12px 24px;
  font-size: 16px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #45a049;
}

button[type="button"] {
  background-color: #f44336; /* Red for "Back" button */
}

button[type="button"]:hover {
  background-color: #e53935;
}